<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Edit Employee
      </h1>
      <%- include('../partials/messages'); -%>
        <form action="/employees/edit/<%= employee.id %>" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" class="form-control"
              value="<%= employee.first_name %>" />
          </div>
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" class="form-control" value="<%= employee.last_name %>" />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" value="<%= employee.email %>" />
          </div>
          <div class="form-group">
            <label for="country">Phone</label>
            <input type="text" id="country" name="country" class="form-control" value="<%= employee.country %>" />
          </div>
          <div class="form-group">
            <label for="departments_id">Department</label>
            <select class="form-control" name="departments_id" id="departments_id">
              <% departments.forEach(function(department) { %>
                <option value="<%= department.id %>" <%=department.id==employee.departments_id ? "selected" : "" %>><%=
                    department.name %>
                </option>
                <% }); %>
            </select>
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Save
          </button>
        </form>
    </div>
  </div>
</div>