//ejs code to edit employee
<%- include('../partials/header') %>
<h1>Edit Employee</h1>
<form action="/employees/<%= employee._id %>?_method=PUT" method="POST">
    <div>
        <label for="employee[name]">Name:</label>
        <input type="text" name="employee[name]" value="<%= employee.name %>">
    </div>
    <div>
        <label for="employee[title]">Title:</label>
        <input type="text" name="employee[title]" value="<%= employee.title %>">
    </div>
    <div>
        <label for="employee[department]">Department:</label>
        <input type="text" name="employee[department]" value="<%= employee.department %>">
    </div>
    <div>
        <label for="employee[salary]">Salary:</label>
        <input type="text" name="employee[salary]" value="<%= employee.salary %>">
    </div>
    <div>
        <label for="employee[manager]">Manager:</label>
        <input type="checkbox" name="employee[manager]" <% if(employee.manager){ %> checked <% } %>>
    </div>
    <input type="submit" value="Update Employee">
</form>
