<%- include('../partials/header') %>
<h1>Edit Employee</h1>
<form action="/employees/<%= employee.id %>?_method=PUT" method="POST">
    <div>
        <label for="employee_firstName">First Name</label>
        <input type="text" id="employee_firstName" name="employee_firstName" value="<%= employee.employee_firstName %>">
    </div>
    <div>
        <label for="employee_lastName">Last Name</label>
        <input type="text" id="employee_lastName" name="employee_lastName" value="<%= employee.employee_lastName %>">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="<%= employee.email %>">
    </div>
    <div>
        <label for="country">Phone</label>
        <input type="text" id="country" name="country" value="<%= employee.country %>">
    </div>
    <div>
        <label for="department_names">department</label>
        <input type="text" id="department_names" name="department_names" value="<%= department_names.name %>">
    </div> 
</form>
<div>
    <a href="/employees/new" class="btn-primary">Add new Employee</a>
    <a href="/dashboard" class="btn-primary">Go back to dashboard</a>
</div>
