<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Add new Employee
        </h1>
        <%- include ('../partials/messages'); -%>
        <form action="/employees/new" method="POST">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              id="firstName"
              name="firstName"
              class="form-control"
              placeholder="Enter First Name"
              value="<%= typeof firstName != 'undefined' ? firstName : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              id="lastName"
              name="lastName"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof lastName != 'undefined' ? lastName : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <input
              type="text"
              id="country"
              name="country"
              class="form-control"
              placeholder="Enter country"
              value="<%= typeof country != 'undefined' ? country : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="name">Department name</label>
            <select class= "form-control" name="name" id="name">
              <% departments.forEach(function(department) { %>
              <option value="<%=department.name %>"><%=department.name %></option>
              <% }); %>
            </select>
            />	
          </div>
          <!-- <div class="form-group">
            <label for="department">Department</label>
            <input
              type="text"
              id="department"
              name="department"
              class="form-control"
              placeholder="Enter Department"
              value="<%= typeof Department != 'undefined' ? Department : '' %>"
            />
          </div> -->
          <button type="submit" class="btn btn-primary btn-block">
            Add Employee
          </button>
        </form>
      </div>
    </div>
  </div>