<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Add Device
        </h1>
        <%- include ('../partials/messages'); -%>
        <form action="/devices" method="POST">
          <div class="form-group">
            <label for="device_type_name">Device Type name</label>
            <select name="devices" id="devices">
              <option value="1">headphones</option>
              <option value="2">laptop</option>
              <option value="3">phone</option>
            </select>
            <input
              type="text"
              id="device_type_name"
              name="device_type_name"
              class="form-control"
              placeholder="Enter device type name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="device_model">Devide model</label>
            <input
              type="text"
              id="device_model"
              name="device_model"
              class="form-control"
              placeholder="Enter device model"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="device_serial_number">Device serial number</label>
            <input
              type="text"
              id="device_serial_number"
              name="device_serial_number"
              class="form-control"
              placeholder="Enter Device Serial number"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="device_code">Device code</label>
            <input
              type="text"
              id="device_code"
              name="device_code"
              class="form-control"
              placeholder="Enter device code"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="device_status">Device status</label>
            <input
              type="int"
              id="device_status"
              name="device_status"
              class="form-control"
              placeholder="1 for fuctional, 0 for non-functional, 2 for under maintenance"
              <!-- value="<%= typeof name != 'undefined' ? name : '' %>" -->
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Add Device
          </button>
        </form>
      </div>
    </div>
  </div>