<%- include ('../partials/messages'); -%>
<h1>Views assignment</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Employee email</th>
            <th>Device code</th>
            <th>Device model</th>
            <th>Device serial number</th>
            <th>Status</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% assignments.forEach(function(assignment){ %>
        <tr>
            <td><%= assignment.employees.email %></td>
            <td><%= assignment.devices.code %></td>
            <td><%= assignment.devices.model %></td>
            <td><%= assignment.devices.serial_number %></td>
            <td><%= assignment.status %></td>
            <td><%= assignment.createdAt %></td>
            <td><%= assignment.updatedAt %></td>
            <td><a href="/assignments/edit/<%= assignment.id %>" class="btn btn-secondary">Edit</a></td>
            <td>
                <form action="/assignments/<%= assignment.id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>
<div>
    <a href="/assignments/new" class="btn btn-primary">Add New Assignment</a>
    <a href="/dashboard" class="btn btn-primary">Go back to dashboard</a>
</div>